.menu {
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 2rem;
  height: 100vh;
  max-width: 100vw;
  transition: 0.3s;
  width: 100vw;
  background: $primary-color;
  z-index: 1;

  @media (min-width: 1000px) {
    flex-direction: row;
    transform: translateX(0);
    position: relative;
    left: unset;
    top: unset;
    padding: 0;
    height: unset;
    background: unset;
    align-items: center;
    width: unset;
    transition: unset;
  }
  .active {
    color: white;
    position: relative;
    @media (min-width: 1000px) {
      color: $primary-color;
    }
    &::after {
      content: "";
      width: 100%;
      height: 0.2rem;
      background: white;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    overflow: auto;
    @media (min-width: 1000px) {
      flex-direction: row;
      overflow: unset;
    }
  }
  li {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    @media (min-width: 1000px) {
      margin-left: 30px;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: unset;
    @media (min-width: 1000px) {
      color: $font-color;
    }
  }
}
.logo {
  padding: 2rem 0;
  color: white;

  @media (min-width: 1000px) {
    padding: 0;
    display: none;
  }
}

.menu.open {
  transform: translateX(0);
}
